* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    height: 100vh;

}
input:focus, select {
    outline: none !important;
}
.sidebar {
    background-color: rgba(63, 49, 49, 0.598);
   flex-basis: 30%;
    padding: 2rem 3rem;
    position: relative;
    text-align: center;
   
}


.img {
    width: 32%;
    
}

.workout{
    transition: all 2s;
}
.form-row{
    display: flex;
    align-items: center;
}

.form-input {
    width: 100%;
    border: none;
    padding: .3rem .4rem;
    border-radius: 5%;
}

button {
    width: 9%;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    gap: .3rem .5rem;
    height: 14vh;
    border-left: 7px solid #FF9933;
    background-color: rgba(24, 20, 20, 0.801);
    padding: 1rem 1.6rem;
    margin-top: 3rem;
    border-radius: 4px;
    transition: all 2s, transform 1ms;


}

.form-label{
    flex: 0 0 40%;
    color: bisque;
    /* font-size: 1rem; */
}
#map{
    flex: 1;
}

.workouts{
  max-width: 100%;
    height: 14vh;
    border-left: 7px solid #FFFFFF;
    background-color: #FF9933;
    padding: 1rem 1.6rem;
    margin-top: 1.1rem;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 1.6rem;
    justify-items: start
}
.workout-title{
    grid-column: 1 / -1;
}
.workouts-details{
   display: flex;
 align-items: baseline;
}
.Cycling-bg{
    background-color:#FFFFFF;
    border-left: 7px solid #138808;
}
.copyright{
    position: absolute;
    bottom: 1rem;
    left: 7rem;
    
}
.copyright a {

    text-decoration: none;
    color: rgb(40, 38, 38);
}
.hidden{
    display: none;
}
/* leaflet popup editting */
.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 2px;
}
.running-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid #FF9933;
    border-radius: 4px;
    background-color:  rgba(24, 20, 20, 0.801);
    color: white;
}