* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    height: 100vh;

}
input:focus, select {
    outline: none !important;
}
.sidebar {
    background-color: rgba(63, 49, 49, 0.598);
   flex-basis: 30%;
   margin: 1rem 0rem 1rem 1rem;
   padding: 1rem 2rem;
    position: relative;
    text-align: center;
   
}


.img {
    width: 32%;
    
}

.workouts-main {
    height: 76vh;
  overflow-y: scroll;
overflow-x: hidden;
}
.workouts-main::-webkit-scrollbar{
    width: 0%;
}
.form-row{
    display: flex;
    align-items: center;
}

.form-input {
    width: 38%;
    border: none;
    padding: .3rem .4rem;
    border-radius: 5%;
}

button {
    width: 9%;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    height: 14vh;
    border-left: 7px solid #FF9933;
    background-color: rgba(24, 20, 20, 0.801);
    padding: 0.7rem 0.5rem;
    margin-top: 1.7rem;
    border-radius: 4px;
    transition: all .5s, transform 1ms;


}
.input-container.hidden{
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
}
.Elev-hidden{
    display: none;
}

.form-label{
    flex: 0 0 50%;
    color: bisque;
    font-size: 1.1rem;
}
#map{
    flex: 1;
}

.workouts{
    max-width: 100%;
    height: 14vh;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: start;
}
.workout-title{
    grid-column: 1 / -1;
}
.workouts-details{
   display: flex;
 align-items: baseline;
}
.workout_running {
    border-left: 7px solid #FFFFFF;
    background-color: #FF9933;
}
.workout_cycling{
    background-color:#FFFFFF;
    border-left: 7px solid #138808;
}
.copyright{
    position: absolute;
    bottom: 1rem;
    left: 7rem;
    
}
.copyright a {

    text-decoration: none;
    color: rgb(40, 38, 38);
}
.btn-hidden{
    display: none
}
/* .hidden{
    ;
} */
/* leaflet popup editting */
.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 2px;
}
.running-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid #138808;
    border-radius: 4px;
    background-color:  rgba(24, 20, 20, 0.801);
    color: white;
}
.cycling-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid #FF9933;
    border-radius: 4px;
    background-color:  rgba(24, 20, 20, 0.801);
    color: white;
}